@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------------------
   Global base styles for light & dark mode
   -------------------------------------------------- */

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-gray-50 text-gray-900 ;
    @apply dark:bg-gray-950 dark:text-gray-100;
  }
}
